<!DOCTYPE HTML>
<!--
	Ion by TEMPLATED
	templated.co @templatedco
	Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
-->
<html>

<head>
	<title>Paycon Administrator</title>
	<meta http-equiv="content-type" content="text/html; charset=utf-8" />
	<meta name="description" content="" />
	<meta name="keywords" content="" />
	<!--[if lte IE 8]><script src="js/html5shiv.js"></script><![endif]-->
	<script src="js/jquery.min.js"></script>
	<script src="js/skel.min.js"></script>
	<script src="js/skel-layers.min.js"></script>
	<script src="js/init.js"></script>
	<noscript>
		<link rel="stylesheet" href="css/skel.css" />
		<link rel="stylesheet" href="css/form.css" />
		<link rel="stylesheet" href="css/style.css" />
		<link rel="stylesheet" href="css/style-xlarge.css" />
	</noscript>
</head>

<body id="top">

	<!-- Header -->
	<header id="header" class="skel-layers-fixed">
		<h1><a href="#">PAYCO</a></h1>
		<nav id="nav">
			<ul>
				<li><a href="home">Home</a></li>
				<li><a href="user">Client movements</a></li>
				<li><a href="admin">Administrator movements</a></li>
			</ul>
		</nav>
	</header>

	<!-- Main -->
	<section id="main" class="wrapper style1">
		<header class="major">
			<h2>Administrator page</h2>
			<p>Charge money or signup Client</p>
		</header>
		<div class="container">
			<div class="row">
				<div class="8u">
					<section>
						<div class="form">

							<div class="tab-content">
								<div id="signup">
									<h1>Sign Up a Client</h1>
									<form>
										<div class="top-row">
											<div class="field-wrap">
												<label>
													First Name<span class="req">*</span>
												</label>
												<input type="text" required autocomplete="off" id="tx_name" />
											</div>
											<br>
											<div class="field-wrap">
												<label>
													Last Name<span class="req">*</span>
												</label>
												<input type="text" required autocomplete="off" id="tx_lastname" />
											</div>
										</div>
										<br>
										<div class="field-wrap">
											<label>
												Email Address<span class="req">*</span>
											</label>
											<input type="email" required autocomplete="off" id="tx_email" />
											<br>
											<label>
												phone<span class="req">*</span>
											</label>
											<input type="text" required autocomplete="off" id="tx_phone" />
											<br>
											<label>
												document<span class="req">*</span>
											</label>
											<input type="text" required autocomplete="off" id="tx_doc" />
										</div>
										<br>
										<div class="field-wrap">
											<label>
												user<span class="req">*</span>
											</label>
											<input type="text" required autocomplete="off" id="tx_user" />
											<br>
											<label>
												Set A Password<span class="req">*</span>
											</label>
											<input type="password" required autocomplete="off" id="tx_pass" />
										</div>
										<br>
										<button id="btn_save" type="button" class="button button-block" />Get Started</button>

									</form>

								</div>

							</div><!-- tab-content -->

						</div> <!-- /form -->
					</section>
				</div>
				<div class="4u">
					<section>
						<h3>Make a charge of money</h3>
						<p>If you need make a re charge of money to a user please click the button.</p>
						<ul class="actions">
							<li><a href="charge" class="button alt">Make a recharge</a></li>
						</ul>
					</section>

				</div>
			</div>
			<hr class="major" />
			<div id="error" class="text-center" style="display: none;">
				<img src="./images/ic-warning.svg" style="width: 10%">
				<h2>Sorry we have problems, please try again.</h2>
			</div>
			<div id="correct" class="text-center" style="display: none;">
				<img src="./images/ic-correct.svg" style="width: 10%">
				<h2>All good, Client created.</h2>
				<div class="row">
					<div class="col-lg-12 col-sm-12 col-p-12">
						<div class="p-3 mb-2 text-center bg-white text-dark">
							<h1 id="id"></h1>

						</div>
					</div>
				</div>
			</div>
		</div>
	</section>

	<!-- Footer -->
	<footer id="footer">

			<ul class="copyright">
				<li>&copy; Untitled. All rights reserved.</li>
				<li>Design: <a href="http://templated.co">TEMPLATED</a></li>
				<li>Images: <a href="http://unsplash.com">Unsplash</a></li>
			</ul>
		</div>
	</footer>
	<script>


		(function (APP) {
			APP.SERVICE = APP.SERVICE || {};

			APP.SERVICE.ASSETS = APP.SERVICE.ASSETS || {};
			APP.SERVICE.ASSETS.CREATE = APP.SERVICE.ASSETS.CREATE || function () {

				var postData = {
					name: $("#tx_name").val(),
					lastName: $("#tx_lastname").val(),
					email: $("#tx_email").val(),
					phone: $("#tx_phone").val(),
					doc: $("#tx_doc").val(),
					user: $("#tx_user").val(),
					pass: $("#tx_pass").val(),
					active: 1
				};

				$.ajax({
					url: '/api/createClient',
					method: 'POST',
					data: postData,
					success: function (data) {

						$('#correct').css("display", "block");
						$('#error').css("display", "none");
						window.scroll({ top: 500, left: 0, behavior: 'smooth' }); // Scroll sencillo smooth
						$("#id").html("remember this id : " + data);

						//location.reload(); // Recarga la pagina para ver el cambio
					},
					error: function (e, d, f) {
						$('#error').css("display", "block");
						$('#correct').css("display", "none");
						window.scroll({ top: 500, left: 0, behavior: 'smooth' }); // Scroll sencillo smooth
					}
				});

			};
			APP.EVENTS = APP.EVENTS || {
				BTN_SAVE: function () {
					$('#btn_save').on('click', function () {
						APP.SERVICE.ASSETS.CREATE();
					});
				},
				INIT: function () {
					APP.EVENTS.BTN_SAVE();
				}

			};
			APP.addEventListener('load', function () {
				APP.EVENTS.INIT();
			});
		})(window);

	</script>
</body>

</html>